{{ partial "header.html" . }}

<body>
    <div class="container">
        <div id="main">
            {{ partial "navbar.html" . }}

            <div class="row">
                <div class="column">
                    <h1>{{ .Title }}</h1>
                    <h2>{{ .Params.school }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ .Params.year }}></h2>
                    <img src="{{ .Param.image }}"></img>
                </div>

                <div class="column column-75">
                    <p>{{ .Content }}</p>
                </div>
            </div>
        </div>

        {{ partial "footer.html" . }}
    </div>
</body>
